@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.OpptyHeader {
    font-size: x-large;
}

.AFDefaultFont:alias {
    font-family: Calibri;
    font-size: medium;
}


af|outputText.welcomeUser {
    width: 200%;
    font-weight: bold;
    color: #ff7f32;
}

af|inputDate::content {
    width: auto;
    border: 1px solid #97999b;
    border-color: #97999b;
    font-size: large;
    font-family: Calibri;
}

af|panelGroupLayout.loginPgHeaderBG {
    background-color: #234790;
}

af|panelGroupLayout.loginPgFont{
   color:#FFFFFF;
   font-size:25.0px;
   font-weight: bold; 
}

.AFLinkAccessKeyStyle:alias{
    color: #002d72;
    font-size:large;
    font-family:Calibri;
}

af|link:hover {
    color: #234790;
    font-size: medium;
}

af|link{
color: #002d72;
font-size: medium;
}

af|link:active{
color: #002d72;
font-size: medium;
}

.AFLinkHover:alias{
    color: #234790;
    font-size: medium;
    font-weight: bold;
    font-family: Calibri;
}

.AFVisitedLinkBorder:alias{
    color: #002d72;
}

.AFPopupSelector {
    background-color: #fdfdfe; 
   box-shadow: none ;
    -webkit-box-shadow: none ; 
   -moz-box-shadow: none ;
}

.AFPopupSelectorContentStart {
    background-color: transparent;
}

.AFPopupSelectorContentEnd {
    background-color: transparent;
}

.AFPopupSelectorHeaderEnd {
    background-color: transparent;
}

.AFPopupSelectorHeaderStart {
    background-color: transparent;
}

.AFPopupSelectorHeader {
    background-color: transparent;
}

af|button::link {
    font-weight: bold;
    font-size: large;
}
af|button:hover::link {

  font-weight: bold;
    font-size: large;
}

af|inputText {
    font-family: Calibri; 
    font: normal normal normal medium/normal; 
    
    border: none; 
   
    font-size: large; 
}

.AFLabel:alias {
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;;
    tab-size: 10;
    color: Black;
    border: transparent ;
}

af|inputText::label {
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;
    tab-size: 10;
    color: Black;
    border: transparent ;
}

af|outputLabel {
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;;
    tab-size: 10;
    color: Black;
    border: transparent ;
}

af|outputText {
    font-size: medium;
    font-family: Calibri;
}

.AFPanelFormLayoutContentCell, .xvo {
    font-family: Calibri;
    font-size: medium;
}

af|panelLabelAndMessage::label {
    font-family: Calibri;
    font-weight: bold;
    font-size: medium;;
    tab-size: 10;
    color: black;
}

af|inputText::content {
    border: 1px solid;
    font-size: medium;
    font-family: Calibri;
    width: auto;
    border-color: #97999b;
}

af|inputText.task::content {
    width:500px;
}

af|column::column-header-cell-content{
    color: white;
    font-weight: bold;
    font-size:large;
    text-align: center;
    background-color: #234790;
    padding: 0px;
}
af|column::column-header-cell{
    width:inherit;
}

af|table::data-row:highlighted af|column::data-cell, af|table::data-row:highlighted af|column::banded-data-cell {
    color: #002d72;
    background-color: #ffffff;
}

.AFMediumHeaderFont:alias{
color:black;
    font-family:Calibri;
    font-weight:bold;
    font-size:medium;
}

af|decorativeBox {
    border: #234790 2px solid;
}

af|panelTabbed.PartsPgTabs::tab af|panelTabbed::tab-content{
    width: auto;
}

/*To increase size of tab content to match with tab width */
af|panelTabbed::tab af|panelTabbed::tab-content {
    width: auto;
    height: auto; 
}
/*To Change text style of Tab */
af|panelTabbed::tab af|panelTabbed::tab-text-link {
color: black; 
font-weight: bold; 
font-size: large;
}
af|showDetailItem.HPP{
   width: 100px;
   
}
af|showDetailItem.Chemical{
    width: 120px;
}
af|showDetailItem.AdvanceSourcing{
    width: inherit; 
}
af|panelTabbed:active{
   font-weight: bold; 
font-size: large; 
}
af|panelTabbed::tab:selected af|panelTabbed::tab-text-link {
    color:black;
    border: none;
    
    font-weight:bold;
   font-size: large;
}





af|button::text {
    padding: 0px 0px 0px 0px; 
}

af|button {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}
 

  
af|commandButton {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
    /*border: black 0.5px solid;*/ 
}

.AFTextForeground:alias {
    color: black;
}
.AFErrorTextForeground:alias{
    color:maroon;
}



af|selectOneChoice::label {
    border: none;
    font-weight: bold;
    font-family: Calibri;
    font-size: medium;
    color: Black;
}
 af|selectOneChoice::content { 

width: 200px;
font-size: medium;
padding:2px ;
color: #002d72;
}

af|selectOneChoice.Quote::content{
width: 70px;
font-size: medium;
padding:2px ;
color: #002d72;
}
af|popup {
    border: #626366 2px solid; 
   
}

/*af|dialog {
            border: #71b2c9 2px solid; 
    border-color: #71b2c9; 
}*/



af|panelHeader[theme="dark"] af|panelHeader::content1 {
    color: Black; 
}

af|panelHeader {
    color: Black; 
}

af|inputFile::label {
    color: black; 
}

af|inputFile::content {
    color: #002d72; 
}


.AFButtonGradientStartHoverColor:alias {
    color: #C6C6C6; 
}

.AFButtonGradientEndHoverColor:alias {
    color: #ADADAD; 
}

/*INFO: Color value exceeded range after adjustment: HSL(0, -53%, 62%)*/
.AFButtonBorderBottomHoverColor:alias {
    color: #A0A0A0; 
}

/*INFO: Color value exceeded range after adjustment: HSL(0, -45%, 69%)*/
.AFButtonBorderHoverColor:alias {
    color: #B2B2B2; 
}

.AFButtonForegroundHover:alias {
    font-weight: bold; 
                 
}

af|button:hover::text {
    font-weight: bold; 
  
}

.AFButtonGradientStartColor:alias {
    color: #D6D6D6; 
}

/*INFO: Color value exceeded range after adjustment: HSL(0, -29%, 65%)*/
.AFButtonBorderBottomColor:alias {
    color: #A8A8A8; 
}

/*INFO: Color value exceeded range after adjustment: HSL(0, -28%, 66%)*/
.AFButtonBorderColor:alias {
    color: #ABABAB; 
}

.AFButtonGradientEndColor:alias {
    color: #C7C6C6; 
}



af|panelAccordion::header:disclosed af|panelAccordion::header-title {
    color: #FFFFFF; 
    font-weight: bold;
    font-size: medium;    
}

af|panelAccordion::header-subsequent:disclosed af|panelAccordion::header-title {
    color: #FFFFFF; 
    font-weight: bold; 
     font-size: medium;    
}

af|panelAccordion::header af|panelAccordion::header-title {
    color: #FFFFFF; 
    font-weight: bold; 
     font-size: medium;     
}

af|panelAccordion::header-subsequent af|panelAccordion::header-title {
    color: #FFFFFF; 
    font-weight: bold; 
     font-size: medium;    
}

.AFAccordionHeaderGradientStartColor:alias {
    color: #234790; 
    background-color: currentColor;
}

.AFAccordionBorderColor:alias {
    color: #6666ff;
}

af|inputDate::content {
    border-color: #97999B;
    border: 1px solid #97999B;
    font-size: medium;
    width: auto;
}

af|table.tableSolidHeader af|column::column-header-cell {
    padding: 3px 3px 3px;
    font-weight: bold;
    cursor: pointer;
    background-color: #234790;
    color: #FF7F32;
    text-align: center;
    font-size: 11px;
    border-style: solid;
    border-width: 1px;
    border-color: #6666ff;
    white-space: nowrap;
}


.popup-dialog af|dialog::content,
af|dialog,
.popup-dialog af|dialog.msgDialog::content,
af|dialog.msgDialog {
    background-color: #FFFFFF;
    background-image: none;
    border: #234790 2px solid;
    box-shadow: 5px 5px 10px #959595;
}

af|dialog::title,
af|dialog.msgDialog::title {
  color: #FFFFFF;
  font-size: 0px Calibri,Helvetica,Geneva,sans-serif;
  font-weight: bold;	  
  line-height: 30px;
  /*text-indent: 10px;*/
}


af|dialog::header,
af|dialog.msgDialog::header {
    background-color: #234790;
    background-image: none;
    border: #234790  2px solid;
    font-size: 20px;
    height: 0px;
    width: 100%;
}

af|dialog::header-end,
af|dialog::header-start,
af|dialog.msgDialog::header-end,
af|dialog.msgDialog::header-start {
    border: 0;
    background-image: none;
    background-color: #FFFFFF;
    width: 0px;
    height: 0px;
}


af|dialog.msgDialog::header-content-center,
af|dialog::header-content-center{
padding-left :0px;
}

af|dialog.msgDialog::content-center,
af|dialog::content-center{
    position: relative;
    overflow: auto;
    width:auto !important;
    height:auto !important;
}

af|outputText,af|outputFormatted.notesText {
    
    font-weight: bold;
    color: #002d72;
}

.xv1, .xv2{
font-size:x-large;
}

.AFAccordionHeaderGradientEndColor:alias {
    color: #234790; 
}

